// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(
        rgb(22, 66, 83),
        rgb(2, 0, 112),
        rgb(22, 56, 83)
    );
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*.slika {
    background-image: url("../../storage/chess.png");
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    background-repeat: no-repeat;
    opacity: 10%;
    background-size: 100% 100%;
    margin-bottom: 20%;

}*/

.slika {
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.slika::after {
    content: "";
    background: url("../../storage/chess.png");
    opacity: 10%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.title {
    font-weight: 900;
    color: rgb(22, 66, 83);
}

.icons {
    position: fixed;
    right: 1%;
    top: 10%;
    z-index: 1;
}

.neonbutton-fiverr {
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #eef0f1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 5%;
    color: #14db0d;
    text-transform: unset;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 150%;
    overflow: hidden;
    transition: 0.2s;
    --main-color: #14db0d;
}

.neonbutton-discord {
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #eef0f1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 5%;
    color: #573de4;
    text-transform: unset;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 150%;
    overflow: hidden;
    transition: 0.2s;
    --main-color: #573de4;
}

.neonbutton-email {
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #eef0f1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    padding: 5%;
    color: #00a8f3;
    text-transform: unset;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 150%;
    overflow: hidden;
    transition: 0.2s;
    --main-color: #00a8f3;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    background: var(--main-color);
    box-shadow: 0 0 20pxvar (--main-color), 0 0 40px var(--main-color),
        0 0 80px var(--main-color);
    transition-delay: 1s;
}

a span {
    position: absolute;
    display: block;
}
a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--main-color));
}

a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--main-color));
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color));
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color));
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    // border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.grid-item:hover {
    transition: 1s;
    transform: rotateY(360deg);
}

.chessicon {
    width: 200%;
    margin-top: -100%;
    margin-left: -50%;
    border-radius: 50%;
}

.chessicon1 {
    background-color: white;
}

.chessicon2 {
    background-color: black;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.right {
    text-align: right;
}

.margin20 {
    margin-bottom: 12%;
}

.from-left {
    grid-column: 2/3;
    transform: translateX(-50%);
}

.from-right {
    grid-column: 3/4;
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

/* .title {
    font-weight: 900;
    color:rgb(241, 241, 241);
    text-align: center;
    margin-bottom: 7%;
} */

.history-slika {
    border-radius: 20px;
    height: 300px;
}

.row {
    height: 300px;
}

.text {
    font-size: 20px;
    color: rgb(22, 66, 83);
}

.chessicon-login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    bottom: -40px;
}

.chessicon1-login {
    background-color: white;
}
